main {
    min-height:100vh;
}

.detail-container {

    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;

    img {
        max-width: 300px;
        padding: 20px 0;
    }

    p {
        padding: 20px 0;
    }
}


