.card-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card  {
    display: inline-block;
    width: calc(100% / 6);
    position: relative;
}

.card:hover {
    z-index: 1;
    transition: 500ms;
    transform: scale(1.5);
}

.card:hover img {
    filter:brightness(.2)
}

h3 {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    &:hover {
        cursor: pointer;

    }
}

a {
    text-decoration: none;
    color: $dcblue;
}

a:hover h3{
    color: white;
}

.card:hover h3 {
    z-index: 1;
    transition: 300ms;
    display: inline;    
}